.todoItem {
  display: flex;
  margin: 15px 0;
}

.name {
    // transition: all 1s ease-out;
    opacity: 1;
}

.strikethrough {
    position: relative;
}


.strikethrough::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background-color: black;
  animation: strike 0.2s linear forwards;
  transform-origin: center;
}

@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
