// 默认背景颜色
$color-bgc: #f8f8f8;
$color-bg1: #b5dadc;
$color-h1: #0D062D;
$color-h2: #787486;
$color-divider: #DBDBDB;
$fontSize-h0: 18px;
$fontSize-h1: 16px;
$fontSize-h2: 14px;
$side-width: 20vw;    // 侧边栏的宽度
$padding-body: 20px;  // 边距

// 文字不可选中
.user-select-none {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* 修改滚动条的样式 */
::-webkit-scrollbar {
  width: 5px; /* 设置滚动条宽度 */
  z-index: -1;
}

/* 修改滚动条轨道的样式 */
::-webkit-scrollbar-track {
  background: #fff; /* 设置滚动条轨道的背景颜色 */
  z-index: -1;
}

/* 修改滚动条滑块的样式 */
::-webkit-scrollbar-thumb {
  background: #e4e2e2; /* 设置滚动条滑块的背景颜色 */
  border-radius: 5px;
}


.flex-center {
  @apply flex items-center justify-center;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.h1 {
  color: $color-h1;
  font-size: $fontSize-h1;
}

.h2 {
  color: $color-h2;
  font-size: $fontSize-h2;
}

