.container {
  width: calc(100vw - 22px);
  height: calc(100vh - 22px);
}

.sidebar {
  width: 40vw;
  height: calc(100vh - 22px);
}

.body {
  // padding: $padding-body $padding-body 0 $padding-body;
  position: relative;
  width: 60vw;
  height: calc(100vh - 22px);
  background-color: #fafafc;
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.12);
}
